body {
    background-color: black;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
    display:flex;
    align-items: center;
   
}


    
 #hud {
	height:200px;
    margin-left:auto;
    margin-right:auto;
}
.cell {
    position: absolute;
  
    right: 50%;
    margin-left: 37%;
    /*transform: translate(-50%, -50%);*/
    
    max-height: 11px;
    max-width: 11px;
    /*margin: 0px 500px 0px 500px;*/
    background-color: antiquewhite;
}
.box {
    background-color: black;
    
}
.snake {
	background-color: darkblue;
}
.treat {
	background-color: #ff6a00;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

}

